.task-container {
  width: 450px;
  margin-bottom: 15px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  word-wrap: break-word;
  margin-top: 15px;
  padding-bottom: 5px;
}

.task > span {
  max-width: 300px;
}

.task-container > button {
  margin-right: 10px;
}

.btn-delete {
  background: #d8430a !important;
}

.done {
  text-decoration: line-through;
}
